In [65]:
import pandas as pd
import os

In [66]:
data_2017 = os.path.join("Resources", "2017.csv")

In [67]:
data_2017 = pd.read_csv(data_2017)

In [68]:
data_2017.columns = data_2017.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [69]:
data_2017.head()

,drg_definition,provider_id,provider_name,provider_street_address,provider_city,provider_state,provider_zip_code,hospital_referral_region_hrr_description,total_discharges,average_covered_charges,average_total_payments,average_medicare_payments
0,023 - CRANIOTOMY W MAJOR DEVICE IMPLANT OR ACU...,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,28,117117.79,25823.71,24057.39
1,025 - CRANIOTOMY & ENDOVASCULAR INTRACRANIAL P...,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,32,98357.56,20688.34,19791.41
2,027 - CRANIOTOMY & ENDOVASCULAR INTRACRANIAL P...,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,11,69153.55,11811.18,8194.36
3,037 - EXTRACRANIAL PROCEDURES W MCC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,12,100427.33,19134.00,18154.00
4,038 - EXTRACRANIAL PROCEDURES W CC,10001,SOUTHEAST ALABAMA MEDICAL CENTER,1108 ROSS CLARK CIRCLE,DOTHAN,AL,36301,AL - Dothan,17,58199.47,8519.47,6714.88

In [70]:
data_2017 = data_2017[["provider_state", "average_medicare_payments", "average_total_payments", "total_discharges"]]

In [71]:
grouped_2017 = data_2017.groupby("provider_state").sum()

In [72]:
grouped_2017["per capita total"] = grouped_2017["average_total_payments"]/grouped_2017["total_discharges"]

In [80]:
grouped_2017["per capita medicare"] = grouped_2017["average_medicare_payments"]/grouped_2017["total_discharges"]

In [81]:
grouped_2017.head()

,average_medicare_payments,average_total_payments,total_discharges,per capita total,per capita medicare
provider_state,,,,,
AK,4.996261e+06,5.705120e+06,7681,742.757479,650.470138
AL,3.409628e+07,4.119621e+07,142060,289.991599,240.013238
AR,2.321937e+07,2.707915e+07,91655,295.446526,253.334495
AZ,4.397756e+07,5.071762e+07,115039,440.873251,382.283931
CA,2.466170e+08,2.802472e+08,531134,527.639260,464.321545

In [82]:
top = grouped_2017.sort_values("average_medicare_payments", ascending=False).head(n=10)

In [83]:
top

,average_medicare_payments,average_total_payments,total_discharges,per capita total,per capita medicare
provider_state,,,,,
CA,2.466170e+08,2.802472e+08,531134,527.639260,464.321545
NY,1.622839e+08,1.901102e+08,428911,443.239158,378.362759
FL,1.500737e+08,1.764597e+08,582437,302.967838,257.665092
TX,1.467447e+08,1.773738e+08,499356,355.205014,293.867813
PA,1.011620e+08,1.273274e+08,324956,391.829753,311.309711
IL,9.700894e+07,1.184859e+08,325010,364.560828,298.479873
MI,8.382977e+07,9.729071e+07,292763,332.319009,286.340060
OH,8.205965e+07,1.007588e+08,288819,348.864824,284.121366
NJ,8.000525e+07,9.355255e+07,249001,375.711545,321.304925
MD,7.282417e+07,7.978054e+07,185563,429.937762,392.449865

In [84]:
top_per_capita_total = grouped_2017.sort_values("per capita total", ascending=False).head(n=10)

In [85]:
top_per_capita_total

,average_medicare_payments,average_total_payments,total_discharges,per capita total,per capita medicare
provider_state,,,,,
AK,4.996261e+06,5.705120e+06,7681,742.757479,650.470138
HI,6.803646e+06,8.649830e+06,13742,629.444775,495.098695
DC,1.201316e+07,1.571534e+07,27599,569.416996,435.275106
CA,2.466170e+08,2.802472e+08,531134,527.639260,464.321545
OR,2.419551e+07,2.811349e+07,53440,526.075845,452.760314
UT,1.187942e+07,1.456969e+07,32151,453.164498,369.488309
WY,2.972402e+06,3.476840e+06,7710,450.952056,385.525556
CO,2.778752e+07,3.310780e+07,73504,450.421722,378.040959
WA,4.738392e+07,5.708939e+07,127262,448.597338,372.333637
NY,1.622839e+08,1.901102e+08,428911,443.239158,378.362759

In [86]:
top_per_capita_medicare = grouped_2017.sort_values("per capita medicare", ascending=False).head(n=10)

In [87]:
top_per_capita_medicare

,average_medicare_payments,average_total_payments,total_discharges,per capita total,per capita medicare
provider_state,,,,,
AK,4.996261e+06,5.705120e+06,7681,742.757479,650.470138
HI,6.803646e+06,8.649830e+06,13742,629.444775,495.098695
CA,2.466170e+08,2.802472e+08,531134,527.639260,464.321545
OR,2.419551e+07,2.811349e+07,53440,526.075845,452.760314
DC,1.201316e+07,1.571534e+07,27599,569.416996,435.275106
MD,7.282417e+07,7.978054e+07,185563,429.937762,392.449865
WY,2.972402e+06,3.476840e+06,7710,450.952056,385.525556
AZ,4.397756e+07,5.071762e+07,115039,440.873251,382.283931
NY,1.622839e+08,1.901102e+08,428911,443.239158,378.362759
CO,2.778752e+07,3.310780e+07,73504,450.421722,378.040959